﻿@{
    ViewBag.Title = "Login";
}

<h2>登入</h2>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div>
        @ViewBag.Message
    </div>
}
<form action="/Home/Login" method="post">
    Email:<input type="text" name="email" value="" /><br />
    密碼:<input type="password" name="pwd" value="" /><br />
    <input type="submit" value="登入"/>
</form>